span.icon a:link,
span.icon a:visited {
    display: block;
    text-indent: -9999px;
}

span.Character a:link,
span.Character a:visited {
    width: 120px;
    height: 120px;
    background: url(rpg_sprite_walk.png);
}

#screen {
    background-color: green;
}
